*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Honk', system-ui;
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(87, 88, 187,1.0) ;
    background-size: cover;
    background-position: center;
}
.warpper{
    position:relative;
    width: 600px;
    height: 650px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius:20px;
    display:flex;
    align-content:center;
    justify-content:center;
    backdrop-filter:blur(15px);

}